:root {
	--sg-cookie-optin-color-monochrome-light: #dbdbdb;
	--sg-cookie-optin-color-monochrome-light-dark: #e1e1e1;
	--sg-cookie-optin-color-monochrome-dark: #000000;
	--sg-cookie-optin-color-monochrome-text: #ffffff;
}

:root .sg-cookie-optin-dark-theme {
	--sg-cookie-optin-color-box: var(--sg-cookie-optin-color-monochrome-light);
	--sg-cookie-optin-color-full-box: var(--sg-cookie-optin-color-monochrome-dark);
	--sg-cookie-optin-color-headline: var(--sg-cookie-optin-color-monochrome-dark);
	--sg-cookie-optin-color-checkbox: var(--sg-cookie-optin-color-monochrome-dark);
	--sg-cookie-optin-color-button-all: var(--sg-cookie-optin-color-monochrome-dark);
	--sg-cookie-optin-color-table: var(--sg-cookie-optin-color-monochrome-light-dark);
	--sg-cookie-optin-color-table-header: var(--sg-cookie-optin-color-monochrome-light-dark);
}

@media (prefers-color-scheme: dark) {
	:root {
		--sg-cookie-optin-color-box: var(--sg-cookie-optin-color-monochrome-light);
		--sg-cookie-optin-color-full-box: var(--sg-cookie-optin-color-monochrome-dark);
		--sg-cookie-optin-color-headline: var(--sg-cookie-optin-color-monochrome-dark);
		--sg-cookie-optin-color-checkbox: var(--sg-cookie-optin-color-monochrome-dark);
		--sg-cookie-optin-color-button-all: var(--sg-cookie-optin-color-monochrome-dark);
		--sg-cookie-optin-color-table: var(--sg-cookie-optin-color-monochrome-light-dark);
		--sg-cookie-optin-color-table-header: var(--sg-cookie-optin-color-monochrome-light-dark);
	}
}

@media (prefers-contrast: more) {
	:root {
		--sg-cookie-optin-color-box: var(--sg-cookie-optin-color-monochrome-light);
		--sg-cookie-optin-color-full-box: var(--sg-cookie-optin-color-monochrome-dark);
		--sg-cookie-optin-color-headline: var(--sg-cookie-optin-color-monochrome-dark);
		--sg-cookie-optin-color-checkbox: var(--sg-cookie-optin-color-monochrome-dark);
		--sg-cookie-optin-color-button-all: var(--sg-cookie-optin-color-monochrome-dark);
		--sg-cookie-optin-color-table: var(--sg-cookie-optin-color-monochrome-light-dark);
		--sg-cookie-optin-color-table-header: var(--sg-cookie-optin-color-monochrome-light-dark);
	}
}
