<f:layout name="Frontend" />

<f:section name="main">
	asd test
	<div class="sg-cookie-optin-plugin sg-cookie-optin-plugin-cookie-list">
		<ul class="sg-cookie-optin-box-cookie-detail-list sg-cookie-optin-visible">
			<f:for each="{groups}" as="group">
				<li class="sg-cookie-optin-box-cookie-detail-list-item">
					<strong class="sg-cookie-optin-box-cookie-detail-header">{group.title}</strong>
					<p class="sg-cookie-optin-box-cookie-detail-description">{group.description}</p>

					<div class="sg-cookie-optin-box-cookie-detail-sublist">
						<table>
							<tbody>
							<f:for each="{group.cookies}" as="cookie">
								<tr class="divider"><td colspan="2">&nbsp;</td></tr>
								<tr>
									<th>{optin.cookie_name_text}</th>
									<td>{cookie.name}</td>
								</tr>
								<tr>
									<th>{optin.cookie_provider_text}</th>
									<td>{cookie.provider}</td>
								</tr>
								<tr>
									<th>{optin.cookie_lifetime_text}</th>
									<td>{cookie.lifetime}</td>
								</tr>
								<tr>
									<th>{optin.cookie_purpose_text}</th>
									<td class="sg-cookie-optin-box-table-reason">{cookie.purpose}</td>
								</tr>
							</f:for>
							</tbody>
						</table>
					</div>
				</li>
			</f:for>
		</ul>
	</div>
</f:section>
