{namespace sg=SGalinski\SgCookieOptin\ViewHelpers}

<f:layout name="{f:if(condition: useEmptyLayout, then: 'Empty', else: 'Default')}"/>


<f:section name="Content">
	<f:if condition="{isSiteRoot}">
		<f:then>
			<f:flashMessages/>
			<form id="consent-statistics-form">
				<div class="row">
					<div class="col-xs-12 col-12 col-md-4">
						<div class="form-group">
							<label for="from_date"><f:translate key="backend.statistics.filter.from"/>: </label><input class="form-control" type="date"
								id="from_date"
								name="from_date"/>
						</div>
					</div>
					<div class="col-xs-12 col-12 col-md-4">
						<div class="form-group">
							<label for="to_date"><f:translate key="backend.statistics.filter.to"/>: </label><input class="form-control" type="date"
								id="to_date"
								name="to_date"/>
						</div>
					</div>

					<div class="col-xs-12 col-12 col-md-4">
						<div class="form-group">
							<label for="version">
								<f:translate key='backend.statistics.version'/>:
							</label>
							<select id="version" class="form-control form-select">
								<option value="">
									<f:translate key='backend.consent.form.item_name.all'/>
								</option>
								<f:for each="{versions}" as="version">
									<option value="{version}">{version}</option>
								</f:for>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button type="button" id="consent-statistics-submit" class="filter-btn btn btn-success">
						<f:translate key="backend.consent.form.filter"/>
					</button>
				</div>

				<div class="table" id="consent-statistics-charts-container">&nbsp;</div>

				<div id="statistics-no-data-found">
					<f:translate key="backend.statistics.noDataFound"/>
				</div>
			</form>
		</f:then>
		<f:else>
			<f:flashMessages/>
			<f:if condition="{pages}">
				<f:then>
					<f:render partial="SelectRoot" arguments="{pages: pages}" />

				</f:then>
				<f:else>
					<div class="callout callout-warning">
						<div class="media">
							<div class="media-left">
							<span class="icon-emphasized">
								<core:icon identifier="actions-exclamation" />
							</span>
							</div>
							<div class="media-body">
								{f:translate(key:'backend.no_site_root_found')}
							</div>
						</div>
					</div>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>

