{namespace sg=SGalinski\SgCookieOptin\ViewHelpers}

<f:layout name="{f:if(condition: useEmptyLayout, then: 'Empty', else: 'Default')}"/>

<f:section name="Content">
	<f:if condition="{isSiteRoot}">
		<f:then>
			<f:flashMessages as="flashMessages">
				<div class="typo3-messages">
					<f:for each="{flashMessages}" as="flashMessage">
						<div class="callout callout-{flashMessage.severity.cssClass}">
							<div class="media">
								<div class="media-left">
									<span class="icon-emphasized">
										<core:icon identifier="{flashMessage.severity.iconIdentifier}" size="small" />
									</span>
								</div>
								<div class="media-body">
									<f:if condition="{flashMessage.title}">
										<h4>{flashMessage.title}</h4>
									</f:if>
									<p>{flashMessage.message}</p>
								</div>
							</div>
						</div>
					</f:for>
				</div>
			</f:flashMessages>
			<form id="consent-statistics-form">
				<div class="row">
					<div class="col-xs-12 col-12 col-md-3">
						<div class="form-group">
							<label for="from_date"><f:translate key="backend.statistics.filter.from"/>: </label>
							<input class="form-control" type="date" id="from_date" name="from_date"/>
						</div>
					</div>
					<div class="col-xs-12 col-12 col-md-3">
						<div class="form-group">
							<label for="to_date"><f:translate key="backend.statistics.filter.to"/>: </label>
							<input class="form-control" type="date" id="to_date" name="to_date"/>
						</div>
					</div>
					<div class="col-xs-12 col-12 col-md-3">
						<div class="form-group">
							<label for="user_hash">
								<f:translate key="backend.consent.grid.user_hash"/>:
							</label>
							<f:form.textfield class="reset-me form-control" property="user_hash" id="user_hash"/>
						</div>
					</div>
					<div class="col-xs-12 col-12 col-md-3">
						<div class="form-group">
							<label for="item_identifier">
								<f:translate key='backend.consent.grid.item_name'/>:
							</label>
							<select id="item_identifier" class="form-control form-select">
								<option value="">
									<f:translate key='backend.consent.form.item_name.all'/>
								</option>
								<f:for each="{identifiers}" as="identifier">
									<option value="{identifier}">{identifier}</option>
								</f:for>
							</select>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<button type="button" id="consent-statistics-submit" class="filter-btn btn btn-success">
								<f:translate key="backend.consent.form.filter"/>
							</button>
						</div>
					</div>
				</div>

				<!-- Table for consent data -->
				<div class="table-responsive consent-statistics-grid" id="consent-statistics-grid">
					<table class="table table-hover">
						<thead>
						<tr>
							<th>
								<f:translate key="backend.consent.grid.time"/>
							</th>
							<th>
								<f:translate key="backend.consent.grid.user_hash"/>
							</th>
							<th>
								<f:translate key="backend.consent.grid.item_name"/>
							</th>
							<th>
								<f:translate key="backend.consent.grid.value"/>
							</th>
						</tr>
						</thead>
						<tbody>

						</tbody>
						<tbody>
						<tr>
							<td colspan="4" class="pagination-table-cell">
								<ul class="pagination" id="consent-statistics-grid-page-select">
								</ul>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

				<!-- Render the "no data found" flash message at the bottom of the page -->
				<f:flashMessages queueIdentifier="noDataFoundMessage" as="noDataFoundMessages">
					<div class="typo3-messages">
						<f:for each="{noDataFoundMessages}" as="flashMessage">
							<div class="callout callout-{flashMessage.severity.cssClass}">
								<div class="media">
									<div class="media-left">
										<span class="icon-emphasized">
											<core:icon identifier="{flashMessage.severity.iconIdentifier}" size="small" />
										</span>
									</div>
									<div class="media-body">
										<f:if condition="{flashMessage.title}">
											<h4>{flashMessage.title}</h4>
										</f:if>
										<p>{flashMessage.message}</p>
									</div>
								</div>
							</div>
						</f:for>
					</div>
				</f:flashMessages>
			</form>
		</f:then>
		<f:else>
			<f:flashMessages as="flashMessages">
				<div class="typo3-messages">
					<f:for each="{flashMessages}" as="flashMessage">
						<div class="callout callout-{flashMessage.severity.cssClass}">
							<div class="media">
								<div class="media-left">
									<span class="icon-emphasized">
										<core:icon identifier="{flashMessage.severity.iconIdentifier}" size="small" />
									</span>
								</div>
								<div class="media-body">
									<f:if condition="{flashMessage.title}">
										<h4>{flashMessage.title}</h4>
									</f:if>
									<p>{flashMessage.message}</p>
								</div>
							</div>
						</div>
					</f:for>
				</div>
			</f:flashMessages>
			<f:if condition="{pages}">
				<f:then>
					<f:render partial="SelectRoot" arguments="{pages: pages}" />
				</f:then>
				<f:else>
					<div class="callout callout-warning">
						<div class="media">
							<div class="media-left">
								<span class="icon-emphasized">
									<core:icon identifier="actions-exclamation" size="small" />
								</span>
							</div>
							<div class="media-body">
								{f:translate(key:'backend.no_site_root_found')}
							</div>
						</div>
					</div>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>
